:root {
    --color_freelencer_secondary: #2C3E50;
    --color_freelencer_primary: #1ABC9C;
    --color-title-no-bg: #333333;
    --color-bg-footer-top: #3A546D;
    --color-border-bottom: #CCCCCC;
}
/* colors */

.color_freelencer_primary{
    background-color: var(--color_freelencer_primary);
}

.color_freelencer_secondary{
    background-color: var(--color_freelencer_secondary);
}

.color-bg-footer-top{
    background-color: var(--color-bg-footer-top);
}


/* header */

.navbar-light .navbar-toggler {
    color: rgba(223, 210, 210, 0.747);
    border-color: rgba(255, 255, 255, 0.719);
}

#site_header .navbar-light .navbar-toggler-icon {
    filter: invert(1);
}

/* main */

/* main-top */

.hero_paragraf{
    font-size: 12px;
}

/* main-mid */



/* footer */

.foot_top{
    background-color: rgb(221, 133, 0);
}

.text_foot{
    height: 80px;
    background-color: maroon;
}

.foot_bot{
    background-color: rgb(30, 148, 14);
}
