:root {
    --color_freelencer_secondary: #2C3E50;
    --color_freelencer_primary: #1ABC9C;
    --color-text-dark: #333333;
    --color-bg-footer-top: #3A546D;
    --color-border-bottom: #CCCCCC;
}
/* colors */

.color_freelencer_primary{
    background-color: var(--color_freelencer_primary);
}

.color_freelencer_secondary{
    background-color: var(--color_freelencer_secondary);
}

.bg_footer_top{
    background-color: var(--color-bg-footer-top);
}

.color_text_dark{
    color: var(--color-text-dark);
}

.color_text_success{
    color: var(--color_freelencer_primary);
}

.bg_btn_primary{
    background-color: var(--color_freelencer_primary);
}

/* header */

.navbar-light .navbar-toggler {
    color: rgba(223, 210, 210, 0.747);
    border-color: rgba(255, 255, 255, 0.719);
}

#site_header .navbar-light .navbar-toggler-icon {
    filter: invert(1);
}

/* main */

.hero_paragraf{
    font-size: 12px;
}